Client3/cache
Client3/mod_launcher
Client3/*.dll
MirServer3/CenterLog
MirServer3/DBServer/DBServer.log
MirServer3/DBServer/Log
MirServer3/LoginGate/Log
MirServer3/Mir200/Log
MirServer3/Mir200/M2Server.log
MirServer3/RunGate/Log
MirServer3/RunGate/RunGate.log