<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20049_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,145},{142,77}}</string>
        <key>offset</key>
        <string>{-35,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,77}}</string>
        <key>sourceSize</key>
        <string>{142,77}</string>
      </dict>
      <key>sfx_20049_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,313},{143,81}}</string>
        <key>offset</key>
        <string>{-36,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,81}}</string>
        <key>sourceSize</key>
        <string>{143,81}</string>
      </dict>
      <key>sfx_20049_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,430},{138,77}}</string>
        <key>offset</key>
        <string>{-36,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,77}}</string>
        <key>sourceSize</key>
        <string>{138,77}</string>
      </dict>
      <key>sfx_20049_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,313},{144,62}}</string>
        <key>offset</key>
        <string>{-39,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,62}}</string>
        <key>sourceSize</key>
        <string>{144,62}</string>
      </dict>
      <key>sfx_20049_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,57}}</string>
        <key>offset</key>
        <string>{-40,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,57}}</string>
        <key>sourceSize</key>
        <string>{155,57}</string>
      </dict>
      <key>sfx_20049_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{154,71}}</string>
        <key>offset</key>
        <string>{-39,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,71}}</string>
        <key>sourceSize</key>
        <string>{154,71}</string>
      </dict>
      <key>sfx_20049_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,0},{146,55}}</string>
        <key>offset</key>
        <string>{-35,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,55}}</string>
        <key>sourceSize</key>
        <string>{146,55}</string>
      </dict>
      <key>sfx_20049_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,148},{143,58}}</string>
        <key>offset</key>
        <string>{-32,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,58}}</string>
        <key>sourceSize</key>
        <string>{143,58}</string>
      </dict>
      <key>sfx_20049_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{143,56}}</string>
        <key>offset</key>
        <string>{-30,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,56}}</string>
        <key>sourceSize</key>
        <string>{143,56}</string>
      </dict>
      <key>sfx_20049_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,289},{136,55}}</string>
        <key>offset</key>
        <string>{-30,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,55}}</string>
        <key>sourceSize</key>
        <string>{136,55}</string>
      </dict>
      <key>sfx_20049_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,132},{129,55}}</string>
        <key>offset</key>
        <string>{-30,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,55}}</string>
        <key>sourceSize</key>
        <string>{129,55}</string>
      </dict>
      <key>sfx_20049_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{130,60}}</string>
        <key>offset</key>
        <string>{-31,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,60}}</string>
        <key>sourceSize</key>
        <string>{130,60}</string>
      </dict>
      <key>sfx_20049_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,278},{130,60}}</string>
        <key>offset</key>
        <string>{-32,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,60}}</string>
        <key>sourceSize</key>
        <string>{130,60}</string>
      </dict>
      <key>sfx_20049_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,142},{134,73}}</string>
        <key>offset</key>
        <string>{-33,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,73}}</string>
        <key>sourceSize</key>
        <string>{134,73}</string>
      </dict>
      <key>sfx_20049_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,289},{139,61}}</string>
        <key>offset</key>
        <string>{-34,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,61}}</string>
        <key>sourceSize</key>
        <string>{139,61}</string>
      </dict>
      <key>sfx_20049_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{140,57}}</string>
        <key>offset</key>
        <string>{-34,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,57}}</string>
        <key>sourceSize</key>
        <string>{140,57}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20049_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_20049_0.png</string>
    </dict>
  </dict>
</plist>