<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_4402_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1259,1674},{294,184}}</string>
        <key>offset</key>
        <string>{-150,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,184}}</string>
        <key>sourceSize</key>
        <string>{294,184}</string>
      </dict>
      <key>sfx_4402_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1034,1674},{318,223}}</string>
        <key>offset</key>
        <string>{-162,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,223}}</string>
        <key>sourceSize</key>
        <string>{318,223}</string>
      </dict>
      <key>sfx_4402_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,1676},{510,295}}</string>
        <key>offset</key>
        <string>{-258,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{510,295}}</string>
        <key>sourceSize</key>
        <string>{510,295}</string>
      </dict>
      <key>sfx_4402_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{592,317}}</string>
        <key>offset</key>
        <string>{-299,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{592,317}}</string>
        <key>sourceSize</key>
        <string>{592,317}</string>
      </dict>
      <key>sfx_4402_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,594},{560,309}}</string>
        <key>offset</key>
        <string>{-283,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{560,309}}</string>
        <key>sourceSize</key>
        <string>{560,309}</string>
      </dict>
      <key>sfx_4402_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1156},{528,279}}</string>
        <key>offset</key>
        <string>{-267,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{528,279}}</string>
        <key>sourceSize</key>
        <string>{528,279}</string>
      </dict>
      <key>sfx_4402_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,1156},{518,280}}</string>
        <key>offset</key>
        <string>{-262,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{518,280}}</string>
        <key>sourceSize</key>
        <string>{518,280}</string>
      </dict>
      <key>sfx_4402_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,594},{516,269}}</string>
        <key>offset</key>
        <string>{-261,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,269}}</string>
        <key>sourceSize</key>
        <string>{516,269}</string>
      </dict>
      <key>sfx_4402_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1686},{520,244}}</string>
        <key>offset</key>
        <string>{-263,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{520,244}}</string>
        <key>sourceSize</key>
        <string>{520,244}</string>
      </dict>
      <key>sfx_4402_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,0},{504,242}}</string>
        <key>offset</key>
        <string>{-255,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{504,242}}</string>
        <key>sourceSize</key>
        <string>{504,242}</string>
      </dict>
      <key>sfx_4402_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,0},{506,237}}</string>
        <key>offset</key>
        <string>{-256,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{506,237}}</string>
        <key>sourceSize</key>
        <string>{506,237}</string>
      </dict>
      <key>sfx_4402_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,1112},{508,235}}</string>
        <key>offset</key>
        <string>{-257,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{508,235}}</string>
        <key>sourceSize</key>
        <string>{508,235}</string>
      </dict>
      <key>sfx_4402_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,506},{502,236}}</string>
        <key>offset</key>
        <string>{-254,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{502,236}}</string>
        <key>sourceSize</key>
        <string>{502,236}</string>
      </dict>
      <key>sfx_4402_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,0},{488,227}}</string>
        <key>offset</key>
        <string>{-247,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{488,227}}</string>
        <key>sourceSize</key>
        <string>{488,227}</string>
      </dict>
      <key>sfx_4402_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1010},{480,206}}</string>
        <key>offset</key>
        <string>{-243,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,206}}</string>
        <key>sourceSize</key>
        <string>{480,206}</string>
      </dict>
      <key>sfx_4402_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,490},{478,198}}</string>
        <key>offset</key>
        <string>{-242,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{478,198}}</string>
        <key>sourceSize</key>
        <string>{478,198}</string>
      </dict>
      <key>sfx_4402_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,970},{476,197}}</string>
        <key>offset</key>
        <string>{-241,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{476,197}}</string>
        <key>sourceSize</key>
        <string>{476,197}</string>
      </dict>
      <key>sfx_4402_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,490},{460,185}}</string>
        <key>offset</key>
        <string>{-233,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{460,185}}</string>
        <key>sourceSize</key>
        <string>{460,185}</string>
      </dict>
      <key>sfx_4402_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1492},{458,180}}</string>
        <key>offset</key>
        <string>{-232,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{458,180}}</string>
        <key>sourceSize</key>
        <string>{458,180}</string>
      </dict>
      <key>sfx_4402_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,0},{386,177}}</string>
        <key>offset</key>
        <string>{-196,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,177}}</string>
        <key>sourceSize</key>
        <string>{386,177}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_4402_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_4402_0.png</string>
    </dict>
  </dict>
</plist>