<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_obj1235_000000.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1679},{48,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,104}}</string>
        <key>sourceSize</key>
        <string>{48,104}</string>
      </dict>
      <key>Other_obj1235_000001.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,782},{48,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,380}}</string>
        <key>sourceSize</key>
        <string>{48,380}</string>
      </dict>
      <key>Other_obj1235_000002.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1959},{48,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,54}}</string>
        <key>sourceSize</key>
        <string>{48,54}</string>
      </dict>
      <key>Other_obj1235_000003.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,690},{48,501}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,501}}</string>
        <key>sourceSize</key>
        <string>{48,501}</string>
      </dict>
      <key>Other_obj1235_000004.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1206},{48,159}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,159}}</string>
        <key>sourceSize</key>
        <string>{48,159}</string>
      </dict>
      <key>Other_obj1235_000005.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1517},{48,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,143}}</string>
        <key>sourceSize</key>
        <string>{48,143}</string>
      </dict>
      <key>Other_obj1235_000006.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,654},{48,620}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,620}}</string>
        <key>sourceSize</key>
        <string>{48,620}</string>
      </dict>
      <key>Other_obj1235_000007.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1196},{48,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,169}}</string>
        <key>sourceSize</key>
        <string>{48,169}</string>
      </dict>
      <key>Other_obj1235_000008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,998},{48,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,190}}</string>
        <key>sourceSize</key>
        <string>{48,190}</string>
      </dict>
      <key>Other_obj1235_000009.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,650}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,650}}</string>
        <key>sourceSize</key>
        <string>{48,650}</string>
      </dict>
      <key>Other_obj1235_000010.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,655}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,655}}</string>
        <key>sourceSize</key>
        <string>{48,655}</string>
      </dict>
      <key>Other_obj1235_000011.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,652}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,652}}</string>
        <key>sourceSize</key>
        <string>{48,652}</string>
      </dict>
      <key>Other_obj1235_000012.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,650},{48,631}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,631}}</string>
        <key>sourceSize</key>
        <string>{48,631}</string>
      </dict>
      <key>Other_obj1235_000013.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,646},{48,638}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,638}}</string>
        <key>sourceSize</key>
        <string>{48,638}</string>
      </dict>
      <key>Other_obj1235_000014.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,652}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,652}}</string>
        <key>sourceSize</key>
        <string>{48,652}</string>
      </dict>
      <key>Other_obj1235_000015.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1775},{48,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,207}}</string>
        <key>sourceSize</key>
        <string>{48,207}</string>
      </dict>
      <key>Other_obj1235_000016.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,680}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,680}}</string>
        <key>sourceSize</key>
        <string>{48,680}</string>
      </dict>
      <key>Other_obj1235_000017.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1279},{48,277}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,277}}</string>
        <key>sourceSize</key>
        <string>{48,277}</string>
      </dict>
      <key>Other_obj1235_000018.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,644}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,644}}</string>
        <key>sourceSize</key>
        <string>{48,644}</string>
      </dict>
      <key>Other_obj1235_000019.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,688}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,688}}</string>
        <key>sourceSize</key>
        <string>{48,688}</string>
      </dict>
      <key>Other_obj1235_000020.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1994},{48,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,29}}</string>
        <key>sourceSize</key>
        <string>{48,29}</string>
      </dict>
      <key>Other_obj1235_000021.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1737},{48,238}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,238}}</string>
        <key>sourceSize</key>
        <string>{48,238}</string>
      </dict>
      <key>Other_obj1235_000022.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1711},{48,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,243}}</string>
        <key>sourceSize</key>
        <string>{48,243}</string>
      </dict>
      <key>Other_obj1235_000023.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,779},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1235_000024.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1182},{48,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,303}}</string>
        <key>sourceSize</key>
        <string>{48,303}</string>
      </dict>
      <key>Other_obj1235_000025.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,742},{48,457}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,457}}</string>
        <key>sourceSize</key>
        <string>{48,457}</string>
      </dict>
      <key>Other_obj1235_000026.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,775},{48,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,429}}</string>
        <key>sourceSize</key>
        <string>{48,429}</string>
      </dict>
      <key>Other_obj1235_000027.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,740}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,740}}</string>
        <key>sourceSize</key>
        <string>{48,740}</string>
      </dict>
      <key>Other_obj1235_000028.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1785},{48,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,207}}</string>
        <key>sourceSize</key>
        <string>{48,207}</string>
      </dict>
      <key>Other_obj1235_000029.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1350},{48,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,184}}</string>
        <key>sourceSize</key>
        <string>{48,184}</string>
      </dict>
      <key>Other_obj1235_000030.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1367},{48,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,148}}</string>
        <key>sourceSize</key>
        <string>{48,148}</string>
      </dict>
      <key>Other_obj1235_000031.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1558},{48,215}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,215}}</string>
        <key>sourceSize</key>
        <string>{48,215}</string>
      </dict>
      <key>Other_obj1235_000032.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1501},{48,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,247}}</string>
        <key>sourceSize</key>
        <string>{48,247}</string>
      </dict>
      <key>Other_obj1235_000033.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1619},{48,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,92}}</string>
        <key>sourceSize</key>
        <string>{48,92}</string>
      </dict>
      <key>Other_obj1235_000034.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1235_000035.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,720},{48,460}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,460}}</string>
        <key>sourceSize</key>
        <string>{48,460}</string>
      </dict>
      <key>Other_obj1235_000036.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1672},{48,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,107}}</string>
        <key>sourceSize</key>
        <string>{48,107}</string>
      </dict>
      <key>Other_obj1235_000037.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1235_000038.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1199},{48,329}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,329}}</string>
        <key>sourceSize</key>
        <string>{48,329}</string>
      </dict>
      <key>Other_obj1235_000039.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,792},{48,365}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,365}}</string>
        <key>sourceSize</key>
        <string>{48,365}</string>
      </dict>
      <key>Other_obj1235_000040.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,753},{48,444}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,444}}</string>
        <key>sourceSize</key>
        <string>{48,444}</string>
      </dict>
      <key>Other_obj1235_000041.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,680},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>Other_obj1235_000042.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,652},{48,625}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,625}}</string>
        <key>sourceSize</key>
        <string>{48,625}</string>
      </dict>
      <key>Other_obj1235_000043.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,751}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,751}}</string>
        <key>sourceSize</key>
        <string>{48,751}</string>
      </dict>
      <key>Other_obj1235_000044.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1707},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1235_000045.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1521},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1235_000046.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,718},{48,465}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,465}}</string>
        <key>sourceSize</key>
        <string>{48,465}</string>
      </dict>
      <key>Other_obj1235_000047.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,682},{48,507}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,507}}</string>
        <key>sourceSize</key>
        <string>{48,507}</string>
      </dict>
      <key>Other_obj1235_000048.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,654},{48,623}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,623}}</string>
        <key>sourceSize</key>
        <string>{48,623}</string>
      </dict>
      <key>Other_obj1235_000049.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1522},{48,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,134}}</string>
        <key>sourceSize</key>
        <string>{48,134}</string>
      </dict>
      <key>Other_obj1235_000050.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1279},{48,606}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,606}}</string>
        <key>sourceSize</key>
        <string>{48,606}</string>
      </dict>
      <key>Other_obj1235_000051.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1737},{48,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,102}}</string>
        <key>sourceSize</key>
        <string>{48,102}</string>
      </dict>
      <key>Other_obj1235_000052.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1197},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1235_000053.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1276},{48,617}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,617}}</string>
        <key>sourceSize</key>
        <string>{48,617}</string>
      </dict>
      <key>Other_obj1235_000054.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,781},{48,413}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,413}}</string>
        <key>sourceSize</key>
        <string>{48,413}</string>
      </dict>
      <key>Other_obj1235_000055.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1536},{48,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,134}}</string>
        <key>sourceSize</key>
        <string>{48,134}</string>
      </dict>
      <key>Other_obj1235_000056.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1704},{48,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,194}}</string>
        <key>sourceSize</key>
        <string>{48,194}</string>
      </dict>
      <key>Other_obj1235_000057.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1770},{48,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,210}}</string>
        <key>sourceSize</key>
        <string>{48,210}</string>
      </dict>
      <key>Other_obj1235_000058.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1286},{48,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,207}}</string>
        <key>sourceSize</key>
        <string>{48,207}</string>
      </dict>
      <key>Other_obj1235_000059.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1283},{48,605}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,605}}</string>
        <key>sourceSize</key>
        <string>{48,605}</string>
      </dict>
      <key>Other_obj1235_000060.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1730},{48,227}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,227}}</string>
        <key>sourceSize</key>
        <string>{48,227}</string>
      </dict>
      <key>Other_obj1235_000061.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,657},{48,604}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,604}}</string>
        <key>sourceSize</key>
        <string>{48,604}</string>
      </dict>
      <key>Other_obj1235_000062.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{48,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,194}}</string>
        <key>sourceSize</key>
        <string>{48,194}</string>
      </dict>
      <key>Other_obj1235_000063.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1546},{48,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,237}}</string>
        <key>sourceSize</key>
        <string>{48,237}</string>
      </dict>
      <key>Other_obj1235_000064.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,648}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,648}}</string>
        <key>sourceSize</key>
        <string>{48,648}</string>
      </dict>
      <key>Other_obj1235_000065.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1193},{48,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,258}}</string>
        <key>sourceSize</key>
        <string>{48,258}</string>
      </dict>
      <key>Other_obj1235_000066.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1982},{48,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,58}}</string>
        <key>sourceSize</key>
        <string>{48,58}</string>
      </dict>
      <key>Other_obj1235_000067.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,678}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,678}}</string>
        <key>sourceSize</key>
        <string>{48,678}</string>
      </dict>
      <key>Other_obj1235_000068.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,718}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,718}}</string>
        <key>sourceSize</key>
        <string>{48,718}</string>
      </dict>
      <key>Other_obj1235_000069.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,780}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,780}}</string>
        <key>sourceSize</key>
        <string>{48,780}</string>
      </dict>
      <key>Other_obj1235_000070.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,773}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,773}}</string>
        <key>sourceSize</key>
        <string>{48,773}</string>
      </dict>
      <key>Other_obj1235_000071.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,716}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,716}}</string>
        <key>sourceSize</key>
        <string>{48,716}</string>
      </dict>
      <key>Other_obj1235_000072.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1561},{48,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,174}}</string>
        <key>sourceSize</key>
        <string>{48,174}</string>
      </dict>
      <key>Other_obj1235_000073.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1353},{48,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,167}}</string>
        <key>sourceSize</key>
        <string>{48,167}</string>
      </dict>
      <key>Other_obj1235_000074.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1481},{48,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,254}}</string>
        <key>sourceSize</key>
        <string>{48,254}</string>
      </dict>
      <key>Other_obj1235_000075.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,790}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,790}}</string>
        <key>sourceSize</key>
        <string>{48,790}</string>
      </dict>
      <key>Other_obj1235_000076.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,777}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,777}}</string>
        <key>sourceSize</key>
        <string>{48,777}</string>
      </dict>
      <key>Other_obj1235_000077.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1551},{48,217}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,217}}</string>
        <key>sourceSize</key>
        <string>{48,217}</string>
      </dict>
      <key>Other_obj1235_000078.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1380},{48,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,179}}</string>
        <key>sourceSize</key>
        <string>{48,179}</string>
      </dict>
      <key>Other_obj1235_000079.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1977},{48,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,27}}</string>
        <key>sourceSize</key>
        <string>{48,27}</string>
      </dict>
      <key>Other_obj1235_000080.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2015},{48,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,31}}</string>
        <key>sourceSize</key>
        <string>{48,31}</string>
      </dict>
      <key>Other_obj1235_000081.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1887},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>Other_obj1235_000082.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1750},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1235_000083.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>Other_obj1235_000084.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1658},{48,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,111}}</string>
        <key>sourceSize</key>
        <string>{48,111}</string>
      </dict>
      <key>Other_obj1235_000085.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1487},{48,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,249}}</string>
        <key>sourceSize</key>
        <string>{48,249}</string>
      </dict>
      <key>Other_obj1235_000086.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1188},{48,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,188}}</string>
        <key>sourceSize</key>
        <string>{48,188}</string>
      </dict>
      <key>Other_obj1235_000087.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1530},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1235_000088.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1515},{48,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,145}}</string>
        <key>sourceSize</key>
        <string>{48,145}</string>
      </dict>
      <key>Other_obj1235_000089.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1367},{48,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,152}}</string>
        <key>sourceSize</key>
        <string>{48,152}</string>
      </dict>
      <key>Other_obj1235_000090.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1359},{48,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,154}}</string>
        <key>sourceSize</key>
        <string>{48,154}</string>
      </dict>
      <key>Other_obj1235_000091.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1738},{48,238}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,238}}</string>
        <key>sourceSize</key>
        <string>{48,238}</string>
      </dict>
      <key>Other_obj1235_000092.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1495},{48,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,207}}</string>
        <key>sourceSize</key>
        <string>{48,207}</string>
      </dict>
      <key>Other_obj1235_000093.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1956},{48,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,55}}</string>
        <key>sourceSize</key>
        <string>{48,55}</string>
      </dict>
      <key>Other_obj1235_000094.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,802},{48,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,191}}</string>
        <key>sourceSize</key>
        <string>{48,191}</string>
      </dict>
      <key>Other_obj1235_000095.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1890},{48,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,36}}</string>
        <key>sourceSize</key>
        <string>{48,36}</string>
      </dict>
      <key>Other_obj1235_000096.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1453},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1235_000097.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1191},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1235_000098.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1159},{48,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,189}}</string>
        <key>sourceSize</key>
        <string>{48,189}</string>
      </dict>
      <key>Other_obj1235_000099.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1628},{48,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,77}}</string>
        <key>sourceSize</key>
        <string>{48,77}</string>
      </dict>
      <key>Other_obj1235_000100.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1563},{48,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,114}}</string>
        <key>sourceSize</key>
        <string>{48,114}</string>
      </dict>
      <key>Other_obj1235_000101.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1481},{48,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,247}}</string>
        <key>sourceSize</key>
        <string>{48,247}</string>
      </dict>
      <key>Other_obj1235_000102.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1201},{48,298}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,298}}</string>
        <key>sourceSize</key>
        <string>{48,298}</string>
      </dict>
      <key>Other_obj1235_000103.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1190},{48,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,188}}</string>
        <key>sourceSize</key>
        <string>{48,188}</string>
      </dict>
      <key>Other_obj1235_000104.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1258},{48,286}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,286}}</string>
        <key>sourceSize</key>
        <string>{48,286}</string>
      </dict>
      <key>Other_obj1235_000105.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1378},{48,183}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,183}}</string>
        <key>sourceSize</key>
        <string>{48,183}</string>
      </dict>
      <key>Other_obj1235_000106.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,779}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,779}}</string>
        <key>sourceSize</key>
        <string>{48,779}</string>
      </dict>
      <key>Other_obj1235_000107.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1185},{48,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,294}}</string>
        <key>sourceSize</key>
        <string>{48,294}</string>
      </dict>
      <key>Other_obj1235_000108.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,995},{48,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,191}}</string>
        <key>sourceSize</key>
        <string>{48,191}</string>
      </dict>
      <key>Other_obj1235_000109.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1263},{48,286}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,286}}</string>
        <key>sourceSize</key>
        <string>{48,286}</string>
      </dict>
      <key>Other_obj1235_000110.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1164},{48,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,187}}</string>
        <key>sourceSize</key>
        <string>{48,187}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj235_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>obj235_0.png</string>
    </dict>
  </dict>
</plist>