<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_obj1114_000000.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,649},{18,41}}</string>
        <key>offset</key>
        <string>{15,-27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,119},{18,41}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1114_000001.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,431},{48,124}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,54},{48,124}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1114_000002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,251},{22,124}}</string>
        <key>offset</key>
        <string>{-13,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,54},{22,124}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1114_000003.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,328},{11,56}}</string>
        <key>offset</key>
        <string>{18,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,53},{11,56}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000004.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,661},{27,73}}</string>
        <key>offset</key>
        <string>{-10,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,37},{27,73}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000005.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,205},{10,121}}</string>
        <key>offset</key>
        <string>{19,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{38,54},{10,121}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1114_000006.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,392},{45,134}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,47},{45,134}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1114_000007.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,649},{16,76}}</string>
        <key>offset</key>
        <string>{16,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,47},{16,76}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000008.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,528},{22,80}}</string>
        <key>offset</key>
        <string>{-13,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,39},{22,80}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000009.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,528},{5,32}}</string>
        <key>offset</key>
        <string>{21,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{43,55},{5,32}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000010.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,539},{35,56}}</string>
        <key>offset</key>
        <string>{-6,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,49},{35,56}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000011.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,377},{18,124}}</string>
        <key>offset</key>
        <string>{15,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,53},{18,124}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1114_000012.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,427},{34,124}}</string>
        <key>offset</key>
        <string>{-7,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,53},{34,124}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1114_000013.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,539},{13,53}}</string>
        <key>offset</key>
        <string>{17,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{35,54},{13,53}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000014.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,951},{26,69}}</string>
        <key>offset</key>
        <string>{-11,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,42},{26,69}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000015.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,221},{12,135}}</string>
        <key>offset</key>
        <string>{18,-21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{36,98},{12,135}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000016.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,240},{48,189}}</string>
        <key>offset</key>
        <string>{0,-14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,64},{48,189}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000017.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,228},{10,144}}</string>
        <key>offset</key>
        <string>{-19,-31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,103},{10,144}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000018.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,249},{37,133}}</string>
        <key>offset</key>
        <string>{5,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,46},{37,133}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1114_000019.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,611},{18,128}}</string>
        <key>offset</key>
        <string>{-15,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,47},{18,128}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1114_000020.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,568},{9,45}}</string>
        <key>offset</key>
        <string>{19,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{39,60},{9,45}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000021.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,736},{33,69}}</string>
        <key>offset</key>
        <string>{-7,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,44},{33,69}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000022.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,661},{16,69}}</string>
        <key>offset</key>
        <string>{16,-9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,55},{16,69}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000023.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,568},{24,79}}</string>
        <key>offset</key>
        <string>{-12,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,44},{24,79}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000024.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,951},{19,53}}</string>
        <key>offset</key>
        <string>{14,-38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{29,156},{19,53}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000025.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,248},{48,178}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,53},{48,178}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000026.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,231},{21,172}}</string>
        <key>offset</key>
        <string>{-13,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,59},{21,172}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000027.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,405},{35,161}}</string>
        <key>offset</key>
        <string>{6,-13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{13,77},{35,161}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000028.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,231},{48,201}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,39},{48,201}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000029.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,205},{17,185}}</string>
        <key>offset</key>
        <string>{-15,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,50},{17,185}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000030.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,503},{18,82}}</string>
        <key>offset</key>
        <string>{15,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,48},{18,82}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000031.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,251},{21,84}}</string>
        <key>offset</key>
        <string>{-13,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,45},{21,84}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000032.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,732},{14,65}}</string>
        <key>offset</key>
        <string>{17,-10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{34,58},{14,65}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000033.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,610},{26,80}}</string>
        <key>offset</key>
        <string>{-11,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,42},{26,80}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1114_000034.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,0},{29,203}}</string>
        <key>offset</key>
        <string>{9,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{19,37},{29,203}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000035.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,221},{34,204}}</string>
        <key>offset</key>
        <string>{-7,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,36},{34,204}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1114_000036.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{23,444}}</string>
        <key>offset</key>
        <string>{12,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{25,61},{23,444}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000037.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,446},{48,444}}</string>
        <key>offset</key>
        <string>{0,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,61},{48,444}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000038.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,0},{48,234}}</string>
        <key>offset</key>
        <string>{0,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,111},{48,234}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000039.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,421},{48,417}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,134},{48,417}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000040.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,0},{48,419}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,136},{48,419}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000041.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{48,352}}</string>
        <key>offset</key>
        <string>{0,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,183},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000042.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{48,375}}</string>
        <key>offset</key>
        <string>{0,-14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,179},{48,375}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000043.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,232},{48,200}}</string>
        <key>offset</key>
        <string>{0,-121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,373},{48,200}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000044.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,236},{48,196}}</string>
        <key>offset</key>
        <string>{0,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,396},{48,196}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000045.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,239},{48,191}}</string>
        <key>offset</key>
        <string>{0,-163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,420},{48,191}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000046.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,244},{48,187}}</string>
        <key>offset</key>
        <string>{0,-184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,443},{48,187}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000047.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,0},{48,242}}</string>
        <key>offset</key>
        <string>{0,-176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,407},{48,242}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000048.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,0},{48,237}}</string>
        <key>offset</key>
        <string>{0,-197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,431},{48,237}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000049.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,0},{48,219}}</string>
        <key>offset</key>
        <string>{0,-207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,450},{48,219}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000050.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,245},{48,186}}</string>
        <key>offset</key>
        <string>{0,-224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,483},{48,186}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000051.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,0},{48,233}}</string>
        <key>offset</key>
        <string>{0,-200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,436},{48,233}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000052.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,354},{48,255}}</string>
        <key>offset</key>
        <string>{0,-190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,415},{48,255}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000053.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{48,246}}</string>
        <key>offset</key>
        <string>{0,-195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,424},{48,246}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000054.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,549},{48,110}}</string>
        <key>offset</key>
        <string>{0,-264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,561},{48,110}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000055.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,840},{48,109}}</string>
        <key>offset</key>
        <string>{0,-264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,562},{48,109}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,892},{48,109}}</string>
        <key>offset</key>
        <string>{0,-264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,562},{48,109}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000057.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,384},{48,109}}</string>
        <key>offset</key>
        <string>{0,-265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,563},{48,109}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000058.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,428},{48,109}}</string>
        <key>offset</key>
        <string>{0,-265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,563},{48,109}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000059.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,562},{1,22}}</string>
        <key>offset</key>
        <string>{-23,-223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,564},{1,22}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1114_000060.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,249},{3,98}}</string>
        <key>offset</key>
        <string>{22,-242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{45,529},{3,98}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000061.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,535},{48,99}}</string>
        <key>offset</key>
        <string>{0,-242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,529},{48,99}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000062.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,536},{48,99}}</string>
        <key>offset</key>
        <string>{0,-242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,529},{48,99}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000063.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,433},{48,100}}</string>
        <key>offset</key>
        <string>{0,-243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,529},{48,100}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000064.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,433},{48,101}}</string>
        <key>offset</key>
        <string>{0,-242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,528},{48,101}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000065.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,645},{48,102}}</string>
        <key>offset</key>
        <string>{0,-243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,528},{48,102}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000066.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,647},{48,102}}</string>
        <key>offset</key>
        <string>{0,-243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,528},{48,102}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000067.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,434},{48,103}}</string>
        <key>offset</key>
        <string>{0,-243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,528},{48,103}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000068.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,539},{48,103}}</string>
        <key>offset</key>
        <string>{0,-243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,528},{48,103}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000069.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,434},{48,104}}</string>
        <key>offset</key>
        <string>{0,-244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,528},{48,104}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000070.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,436},{48,104}}</string>
        <key>offset</key>
        <string>{0,-244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,528},{48,104}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000071.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,553},{48,105}}</string>
        <key>offset</key>
        <string>{0,-243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,527},{48,105}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000072.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,495},{48,106}}</string>
        <key>offset</key>
        <string>{0,-244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,527},{48,106}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000073.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,611},{48,106}}</string>
        <key>offset</key>
        <string>{0,-244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,527},{48,106}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000074.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,432},{48,115}}</string>
        <key>offset</key>
        <string>{0,-240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,519},{48,115}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000075.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,235},{48,199}}</string>
        <key>offset</key>
        <string>{0,-198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,435},{48,199}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000076.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,0},{48,229}}</string>
        <key>offset</key>
        <string>{0,-184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,406},{48,229}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000077.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,770},{48,249}}</string>
        <key>offset</key>
        <string>{0,-174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,386},{48,249}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000078.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,744},{48,271}}</string>
        <key>offset</key>
        <string>{0,-164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,365},{48,271}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000079.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,744},{48,265}}</string>
        <key>offset</key>
        <string>{0,-167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,371},{48,265}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000080.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{48,249}}</string>
        <key>offset</key>
        <string>{0,-172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,384},{48,249}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000081.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{48,243}}</string>
        <key>offset</key>
        <string>{0,-144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,359},{48,243}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000082.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,0},{48,238}}</string>
        <key>offset</key>
        <string>{0,-117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,334},{48,238}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000083.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{48,388}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,154},{48,388}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000084.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,377},{48,365}}</string>
        <key>offset</key>
        <string>{0,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,146},{48,365}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000085.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,390},{48,378}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,103},{48,378}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000086.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,0},{48,230}}</string>
        <key>offset</key>
        <string>{0,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,100},{48,230}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000087.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{48,247}}</string>
        <key>offset</key>
        <string>{0,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,45},{48,247}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000088.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,0},{35,226}}</string>
        <key>offset</key>
        <string>{-6,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,42},{35,226}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1114_000089.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,377},{2,116}}</string>
        <key>offset</key>
        <string>{23,-13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{46,51},{2,116}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000090.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,434},{48,115}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,51},{48,115}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000091.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,0},{1,54}}</string>
        <key>offset</key>
        <string>{-23,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,53},{1,54}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000092.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,556},{1,24}}</string>
        <key>offset</key>
        <string>{23,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,51},{1,24}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000093.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,557},{48,98}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,51},{48,98}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000094.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,636},{48,95}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,51},{48,95}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000095.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,657},{48,90}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,52},{48,90}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000096.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,528},{1,26}}</string>
        <key>offset</key>
        <string>{-23,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,112},{1,26}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000097.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,656},{45,102}}</string>
        <key>offset</key>
        <string>{1,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,51},{45,102}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000098.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,540},{48,103}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,51},{48,103}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000099.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,542},{48,103}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,51},{48,103}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000100.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,551},{48,103}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,51},{48,103}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1114_000101.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,644},{45,103}}</string>
        <key>offset</key>
        <string>{-1,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,51},{45,103}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj114_0.png</string>
      <key>size</key>
      <string>{896,1024}</string>
      <key>textureFileName</key>
      <string>obj114_0.png</string>
    </dict>
  </dict>
</plist>