<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1111_0_6_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{111,67}}</string>
        <key>offset</key>
        <string>{30,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,67}}</string>
        <key>sourceSize</key>
        <string>{111,67}</string>
      </dict>
      <key>weapon_1111_0_6_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{107,78}}</string>
        <key>offset</key>
        <string>{29,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,78}}</string>
        <key>sourceSize</key>
        <string>{107,78}</string>
      </dict>
      <key>weapon_1111_0_6_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{98,90}}</string>
        <key>offset</key>
        <string>{30,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{98,90}</string>
      </dict>
      <key>weapon_1111_0_6_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{89,48}}</string>
        <key>offset</key>
        <string>{15,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,48}}</string>
        <key>sourceSize</key>
        <string>{89,48}</string>
      </dict>
      <key>weapon_1111_0_6_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,462},{103,47}}</string>
        <key>offset</key>
        <string>{21,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,47}}</string>
        <key>sourceSize</key>
        <string>{103,47}</string>
      </dict>
      <key>weapon_1111_0_6_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,124},{111,57}}</string>
        <key>offset</key>
        <string>{24,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,57}}</string>
        <key>sourceSize</key>
        <string>{111,57}</string>
      </dict>
      <key>weapon_1111_0_6_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,271},{41,69}}</string>
        <key>offset</key>
        <string>{-13,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,69}}</string>
        <key>sourceSize</key>
        <string>{41,69}</string>
      </dict>
      <key>weapon_1111_0_6_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{58,70}}</string>
        <key>offset</key>
        <string>{3,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>weapon_1111_0_6_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,197},{72,65}}</string>
        <key>offset</key>
        <string>{13,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,65}}</string>
        <key>sourceSize</key>
        <string>{72,65}</string>
      </dict>
      <key>weapon_1111_0_6_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,328},{87,58}}</string>
        <key>offset</key>
        <string>{-75,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,58}}</string>
        <key>sourceSize</key>
        <string>{87,58}</string>
      </dict>
      <key>weapon_1111_0_6_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{70,71}}</string>
        <key>offset</key>
        <string>{-49,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>weapon_1111_0_6_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,417},{47,76}}</string>
        <key>offset</key>
        <string>{-22,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,76}}</string>
        <key>sourceSize</key>
        <string>{47,76}</string>
      </dict>
      <key>weapon_1111_0_6_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{111,71}}</string>
        <key>offset</key>
        <string>{-92,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,71}}</string>
        <key>sourceSize</key>
        <string>{111,71}</string>
      </dict>
      <key>weapon_1111_0_6_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,113},{108,59}}</string>
        <key>offset</key>
        <string>{-88,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,59}}</string>
        <key>sourceSize</key>
        <string>{108,59}</string>
      </dict>
      <key>weapon_1111_0_6_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,455},{99,51}}</string>
        <key>offset</key>
        <string>{-80,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,51}}</string>
        <key>sourceSize</key>
        <string>{99,51}</string>
      </dict>
      <key>weapon_1111_0_6_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,348},{88,105}}</string>
        <key>offset</key>
        <string>{-51,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,105}}</string>
        <key>sourceSize</key>
        <string>{88,105}</string>
      </dict>
      <key>weapon_1111_0_6_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,223},{103,91}}</string>
        <key>offset</key>
        <string>{-75,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,91}}</string>
        <key>sourceSize</key>
        <string>{103,91}</string>
      </dict>
      <key>weapon_1111_0_6_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,77}}</string>
        <key>offset</key>
        <string>{-96,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,77}}</string>
        <key>sourceSize</key>
        <string>{122,77}</string>
      </dict>
      <key>weapon_1111_0_6_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,351},{40,111}}</string>
        <key>offset</key>
        <string>{21,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,111}}</string>
        <key>sourceSize</key>
        <string>{40,111}</string>
      </dict>
      <key>weapon_1111_0_6_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,351},{67,109}}</string>
        <key>offset</key>
        <string>{-22,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,109}}</string>
        <key>sourceSize</key>
        <string>{67,109}</string>
      </dict>
      <key>weapon_1111_0_6_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,109},{72,102}}</string>
        <key>offset</key>
        <string>{-37,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,102}}</string>
        <key>sourceSize</key>
        <string>{72,102}</string>
      </dict>
      <key>weapon_1111_0_6_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,100},{93,95}}</string>
        <key>offset</key>
        <string>{28,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,95}}</string>
        <key>sourceSize</key>
        <string>{93,95}</string>
      </dict>
      <key>weapon_1111_0_6_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,237},{81,109}}</string>
        <key>offset</key>
        <string>{14,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,109}}</string>
        <key>sourceSize</key>
        <string>{81,109}</string>
      </dict>
      <key>weapon_1111_0_6_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{48,112}}</string>
        <key>offset</key>
        <string>{24,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,112}}</string>
        <key>sourceSize</key>
        <string>{48,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1111_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_1111_0_7.png</string>
    </dict>
  </dict>
</plist>