<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1111_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,91},{38,71}}</string>
        <key>offset</key>
        <string>{19,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,71}}</string>
        <key>sourceSize</key>
        <string>{38,71}</string>
      </dict>
      <key>weapon_1111_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,150},{43,79}}</string>
        <key>offset</key>
        <string>{1,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,79}}</string>
        <key>sourceSize</key>
        <string>{43,79}</string>
      </dict>
      <key>weapon_1111_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{100,58}}</string>
        <key>offset</key>
        <string>{14,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,58}}</string>
        <key>sourceSize</key>
        <string>{100,58}</string>
      </dict>
      <key>weapon_1111_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,61},{81,73}}</string>
        <key>offset</key>
        <string>{29,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,73}}</string>
        <key>sourceSize</key>
        <string>{81,73}</string>
      </dict>
      <key>weapon_1111_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{137,52}}</string>
        <key>offset</key>
        <string>{-4,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,52}}</string>
        <key>sourceSize</key>
        <string>{137,52}</string>
      </dict>
      <key>weapon_1111_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{117,48}}</string>
        <key>offset</key>
        <string>{32,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,48}}</string>
        <key>sourceSize</key>
        <string>{117,48}</string>
      </dict>
      <key>weapon_1111_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,163},{88,96}}</string>
        <key>offset</key>
        <string>{10,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,96}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>weapon_1111_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,0},{111,80}}</string>
        <key>offset</key>
        <string>{11,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,80}}</string>
        <key>sourceSize</key>
        <string>{111,80}</string>
      </dict>
      <key>weapon_1111_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,113},{35,106}}</string>
        <key>offset</key>
        <string>{-5,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,106}}</string>
        <key>sourceSize</key>
        <string>{35,106}</string>
      </dict>
      <key>weapon_1111_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{44,103}}</string>
        <key>offset</key>
        <string>{4,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,103}}</string>
        <key>sourceSize</key>
        <string>{44,103}</string>
      </dict>
      <key>weapon_1111_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{89,87}}</string>
        <key>offset</key>
        <string>{-66,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,87}}</string>
        <key>sourceSize</key>
        <string>{89,87}</string>
      </dict>
      <key>weapon_1111_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{85,96}}</string>
        <key>offset</key>
        <string>{-64,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,96}}</string>
        <key>sourceSize</key>
        <string>{85,96}</string>
      </dict>
      <key>weapon_1111_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,139},{120,54}}</string>
        <key>offset</key>
        <string>{-88,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,54}}</string>
        <key>sourceSize</key>
        <string>{120,54}</string>
      </dict>
      <key>weapon_1111_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,195},{116,53}}</string>
        <key>offset</key>
        <string>{-99,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,53}}</string>
        <key>sourceSize</key>
        <string>{116,53}</string>
      </dict>
      <key>weapon_1111_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{84,59}}</string>
        <key>offset</key>
        <string>{-46,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,59}}</string>
        <key>sourceSize</key>
        <string>{84,59}</string>
      </dict>
      <key>weapon_1111_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,102},{98,59}}</string>
        <key>offset</key>
        <string>{-72,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,59}}</string>
        <key>sourceSize</key>
        <string>{98,59}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1111_0_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_1111_0_8.png</string>
    </dict>
  </dict>
</plist>