<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_tiles2110_000200.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000201.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000202.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000203.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000204.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000205.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000206.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000207.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000208.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000209.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000210.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000211.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000212.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000213.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000214.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000215.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000216.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000217.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000218.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000219.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000220.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000221.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000222.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000223.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000224.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000225.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000226.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000227.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000228.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000229.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000230.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000231.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000232.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000233.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000234.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000235.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000236.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000237.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000238.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000239.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000240.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000241.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000242.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000243.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000244.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000245.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000246.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000247.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000248.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000249.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000250.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000251.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000252.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000253.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000254.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000255.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000256.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000257.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000258.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000259.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,66},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000260.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000261.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000262.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000263.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000264.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000265.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000266.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000267.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000268.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000269.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000270.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000271.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000272.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000273.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000274.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000275.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000276.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000277.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000278.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000279.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000280.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000281.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000282.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000283.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000284.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000285.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000286.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000287.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000288.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000289.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000290.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000291.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000292.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000293.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000294.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000295.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000296.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000297.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000298.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_000299.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tiles110_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>tiles110_2.png</string>
    </dict>
  </dict>
</plist>