<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_tiles2110_002500.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002501.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002502.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002503.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002504.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002505.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002506.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002507.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002508.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002509.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002510.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002511.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002512.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002513.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002514.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002515.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002516.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002517.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002518.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002519.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002520.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002521.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002522.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002523.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002524.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002525.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002526.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002527.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002528.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002529.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002530.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002531.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002532.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002533.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002534.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002535.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002536.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002537.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002538.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002539.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002540.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002541.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002542.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002543.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002544.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002545.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002546.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002547.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002548.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002549.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002550.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002551.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002552.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002553.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002554.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002555.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002556.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002557.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002558.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002559.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,66},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002560.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002561.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002562.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002563.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002564.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002565.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002566.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002567.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002568.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002569.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002570.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002571.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002572.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002573.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002574.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002575.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002576.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002577.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002578.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002579.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002580.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002581.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002582.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002583.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002584.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002585.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002586.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002587.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002588.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002589.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002590.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002591.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002592.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002593.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002594.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002595.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002596.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002597.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002598.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2110_002599.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tiles110_25.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>tiles110_25.png</string>
    </dict>
  </dict>
</plist>