<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_tiles2112_001400.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001401.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001402.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001403.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001404.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001405.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001406.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001407.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001408.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001409.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001410.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001411.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001412.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001413.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001414.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001415.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001416.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001417.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001418.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001419.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001420.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001421.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001422.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001423.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001424.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001425.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001426.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001427.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001428.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001429.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001430.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001431.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001432.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001433.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001434.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001435.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001436.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001437.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001438.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001439.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001440.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001441.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001442.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001443.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001444.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001445.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001446.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001447.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001448.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001449.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001450.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001451.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001452.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001453.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001454.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001455.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001456.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001457.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001458.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001459.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,66},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001460.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001461.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001462.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001463.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001464.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001465.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001466.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001467.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001468.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001469.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001470.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001471.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001472.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001473.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001474.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001475.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001476.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001477.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001478.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001479.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001480.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001481.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001482.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001483.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001484.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001485.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001486.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001487.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001488.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001489.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001490.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001491.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001492.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001493.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001494.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001495.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001496.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001497.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001498.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2112_001499.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tiles112_14.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>tiles112_14.png</string>
    </dict>
  </dict>
</plist>