<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_obj1100_000000.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,422},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000001.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,194},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000002.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,488},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000003.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,838},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000004.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,838},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000005.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,808},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000006.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,808},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000007.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,772},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1100_000008.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,772},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1100_000009.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1100_000010.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,708},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1100_000011.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1100_000012.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1100_000013.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1100_000014.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,838},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000015.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,194},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000016.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,292},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000017.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,226},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000018.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,354},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1100_000019.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,488},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000020.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,324},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000021.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,324},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000022.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,324},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000023.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,194},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000024.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,324},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000025.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000026.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,580},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000027.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,422},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000028.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,324},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000029.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1100_000030.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1100_000031.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,454},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000032.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,454},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000033.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,740},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1100_000034.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,938},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000035.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,422},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000036.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000037.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000038.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,386},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000039.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000040.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1100_000041.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000042.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1100_000043.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,324},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000044.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,772},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1100_000045.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,676},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1100_000046.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000047.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,290},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1100_000048.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1100_000049.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000050.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,938},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000051.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,580},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1100_000052.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,290},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1100_000053.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,390},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000054.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,584},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000055.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000056.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,484},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000057.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,646},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000058.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,422},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000059.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,324},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000060.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,646},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1100_000061.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,422},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1100_000062.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,584},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000063.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,580},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1100_000064.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1100_000065.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,386},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000066.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,938},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000067.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,772},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1100_000068.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,386},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000069.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000070.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,194},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1100_000071.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1100_000072.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,386},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1100_000073.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,520},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000074.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000075.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1100_000076.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,386},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1100_000077.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,676},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1100_000078.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1100_000079.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1100_000080.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,714},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000081.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,258},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1100_000082.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,354},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1100_000083.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,714},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000084.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,772},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1100_000085.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,520},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1100_000086.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,194},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj100_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj100_0.png</string>
    </dict>
  </dict>
</plist>