<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_obj1102_000306.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,238},{48,185}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,185}}</string>
        <key>sourceSize</key>
        <string>{48,185}</string>
      </dict>
      <key>Other_obj1102_000307.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,366},{48,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,137}}</string>
        <key>sourceSize</key>
        <string>{48,137}</string>
      </dict>
      <key>Other_obj1102_000308.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,325},{48,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
      <key>Other_obj1102_000309.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,493},{48,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,114}}</string>
        <key>sourceSize</key>
        <string>{48,114}</string>
      </dict>
      <key>Other_obj1102_000310.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,466},{48,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,80}}</string>
        <key>sourceSize</key>
        <string>{48,80}</string>
      </dict>
      <key>Other_obj1102_000311.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,312},{48,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,152}}</string>
        <key>sourceSize</key>
        <string>{48,152}</string>
      </dict>
      <key>Other_obj1102_000312.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,241}}</string>
        <key>sourceSize</key>
        <string>{48,241}</string>
      </dict>
      <key>Other_obj1102_000313.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,230}}</string>
        <key>sourceSize</key>
        <string>{48,230}</string>
      </dict>
      <key>Other_obj1102_000314.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,199}}</string>
        <key>sourceSize</key>
        <string>{48,199}</string>
      </dict>
      <key>Other_obj1102_000315.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,232},{48,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,187}}</string>
        <key>sourceSize</key>
        <string>{48,187}</string>
      </dict>
      <key>Other_obj1102_000316.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,243},{48,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,165}}</string>
        <key>sourceSize</key>
        <string>{48,165}</string>
      </dict>
      <key>Other_obj1102_000317.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,410},{48,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,83}}</string>
        <key>sourceSize</key>
        <string>{48,83}</string>
      </dict>
      <key>Other_obj1102_000318.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,201},{48,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,194}}</string>
        <key>sourceSize</key>
        <string>{48,194}</string>
      </dict>
      <key>Other_obj1102_000319.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,310}}</string>
        <key>sourceSize</key>
        <string>{48,310}</string>
      </dict>
      <key>Other_obj1102_000320.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,364}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,364}}</string>
        <key>sourceSize</key>
        <string>{48,364}</string>
      </dict>
      <key>Other_obj1102_000321.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,513},{48,507}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,507}}</string>
        <key>sourceSize</key>
        <string>{48,507}</string>
      </dict>
      <key>Other_obj1102_000322.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,511}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,511}}</string>
        <key>sourceSize</key>
        <string>{48,511}</string>
      </dict>
      <key>Other_obj1102_000323.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,513},{48,501}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,501}}</string>
        <key>sourceSize</key>
        <string>{48,501}</string>
      </dict>
      <key>Other_obj1102_000324.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,491}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,491}}</string>
        <key>sourceSize</key>
        <string>{48,491}</string>
      </dict>
      <key>Other_obj1102_000325.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,478},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>Other_obj1102_000326.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,375}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,375}}</string>
        <key>sourceSize</key>
        <string>{48,375}</string>
      </dict>
      <key>Other_obj1102_000327.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,323}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,323}}</string>
        <key>sourceSize</key>
        <string>{48,323}</string>
      </dict>
      <key>Other_obj1102_000328.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,236}}</string>
        <key>sourceSize</key>
        <string>{48,236}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj102_2.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj102_2.png</string>
    </dict>
  </dict>
</plist>