<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_obj1121_000236.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,274},{48,262}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,262}}</string>
        <key>sourceSize</key>
        <string>{48,262}</string>
      </dict>
      <key>Other_obj1121_000237.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,246},{48,226}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,226}}</string>
        <key>sourceSize</key>
        <string>{48,226}</string>
      </dict>
      <key>Other_obj1121_000238.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1121_000239.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,930},{48,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,82}}</string>
        <key>sourceSize</key>
        <string>{48,82}</string>
      </dict>
      <key>Other_obj1121_000240.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,194},{48,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,23}}</string>
        <key>sourceSize</key>
        <string>{48,23}</string>
      </dict>
      <key>Other_obj1121_000241.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,294}}</string>
        <key>sourceSize</key>
        <string>{48,294}</string>
      </dict>
      <key>Other_obj1121_000242.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,325}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,325}}</string>
        <key>sourceSize</key>
        <string>{48,325}</string>
      </dict>
      <key>Other_obj1121_000243.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,272}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,272}}</string>
        <key>sourceSize</key>
        <string>{48,272}</string>
      </dict>
      <key>Other_obj1121_000244.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,244}}</string>
        <key>sourceSize</key>
        <string>{48,244}</string>
      </dict>
      <key>Other_obj1121_000245.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,279}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,279}}</string>
        <key>sourceSize</key>
        <string>{48,279}</string>
      </dict>
      <key>Other_obj1121_000246.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,763},{48,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,240}}</string>
        <key>sourceSize</key>
        <string>{48,240}</string>
      </dict>
      <key>Other_obj1121_000247.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,261},{48,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,254}}</string>
        <key>sourceSize</key>
        <string>{48,254}</string>
      </dict>
      <key>Other_obj1121_000248.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,253}}</string>
        <key>sourceSize</key>
        <string>{48,253}</string>
      </dict>
      <key>Other_obj1121_000249.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,698},{48,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,37}}</string>
        <key>sourceSize</key>
        <string>{48,37}</string>
      </dict>
      <key>Other_obj1121_000250.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,647},{48,301}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,301}}</string>
        <key>sourceSize</key>
        <string>{48,301}</string>
      </dict>
      <key>Other_obj1121_000251.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,296},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>Other_obj1121_000252.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,538},{48,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,257}}</string>
        <key>sourceSize</key>
        <string>{48,257}</string>
      </dict>
      <key>Other_obj1121_000253.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,856},{48,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
      <key>Other_obj1121_000254.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,327},{48,318}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,318}}</string>
        <key>sourceSize</key>
        <string>{48,318}</string>
      </dict>
      <key>Other_obj1121_000255.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,647},{48,296}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,296}}</string>
        <key>sourceSize</key>
        <string>{48,296}</string>
      </dict>
      <key>Other_obj1121_000256.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,810},{48,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,147}}</string>
        <key>sourceSize</key>
        <string>{48,147}</string>
      </dict>
      <key>Other_obj1121_000257.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,246},{48,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,228}}</string>
        <key>sourceSize</key>
        <string>{48,228}</string>
      </dict>
      <key>Other_obj1121_000258.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,260}}</string>
        <key>sourceSize</key>
        <string>{48,260}</string>
      </dict>
      <key>Other_obj1121_000259.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,274},{48,263}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,263}}</string>
        <key>sourceSize</key>
        <string>{48,263}</string>
      </dict>
      <key>Other_obj1121_000260.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,435},{48,403}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,403}}</string>
        <key>sourceSize</key>
        <string>{48,403}</string>
      </dict>
      <key>Other_obj1121_000261.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,296},{48,291}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,291}}</string>
        <key>sourceSize</key>
        <string>{48,291}</string>
      </dict>
      <key>Other_obj1121_000262.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,355}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,355}}</string>
        <key>sourceSize</key>
        <string>{48,355}</string>
      </dict>
      <key>Other_obj1121_000263.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,474},{48,454}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,454}}</string>
        <key>sourceSize</key>
        <string>{48,454}</string>
      </dict>
      <key>Other_obj1121_000264.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{48,464}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,464}}</string>
        <key>sourceSize</key>
        <string>{48,464}</string>
      </dict>
      <key>Other_obj1121_000265.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,472}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,472}}</string>
        <key>sourceSize</key>
        <string>{48,472}</string>
      </dict>
      <key>Other_obj1121_000266.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,435},{48,412}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,412}}</string>
        <key>sourceSize</key>
        <string>{48,412}</string>
      </dict>
      <key>Other_obj1121_000267.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,435}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,435}}</string>
        <key>sourceSize</key>
        <string>{48,435}</string>
      </dict>
      <key>Other_obj1121_000268.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,433}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,433}}</string>
        <key>sourceSize</key>
        <string>{48,433}</string>
      </dict>
      <key>Other_obj1121_000269.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,587},{48,267}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,267}}</string>
        <key>sourceSize</key>
        <string>{48,267}</string>
      </dict>
      <key>Other_obj1121_000270.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,940},{48,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,73}}</string>
        <key>sourceSize</key>
        <string>{48,73}</string>
      </dict>
      <key>Other_obj1121_000271.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,318},{48,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,119}}</string>
        <key>sourceSize</key>
        <string>{48,119}</string>
      </dict>
      <key>Other_obj1121_000272.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,945},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>Other_obj1121_000273.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,185},{48,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,133}}</string>
        <key>sourceSize</key>
        <string>{48,133}</string>
      </dict>
      <key>Other_obj1121_000274.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,474},{48,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,222}}</string>
        <key>sourceSize</key>
        <string>{48,222}</string>
      </dict>
      <key>Other_obj1121_000275.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,101}}</string>
        <key>sourceSize</key>
        <string>{48,101}</string>
      </dict>
      <key>Other_obj1121_000276.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,810},{48,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,141}}</string>
        <key>sourceSize</key>
        <string>{48,141}</string>
      </dict>
      <key>Other_obj1121_000277.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,517},{48,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,244}}</string>
        <key>sourceSize</key>
        <string>{48,244}</string>
      </dict>
      <key>Other_obj1121_000278.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,183}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,183}}</string>
        <key>sourceSize</key>
        <string>{48,183}</string>
      </dict>
      <key>Other_obj1121_000279.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,853},{48,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,161}}</string>
        <key>sourceSize</key>
        <string>{48,161}</string>
      </dict>
      <key>Other_obj1121_000280.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,261},{48,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,254}}</string>
        <key>sourceSize</key>
        <string>{48,254}</string>
      </dict>
      <key>Other_obj1121_000281.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,587},{48,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,264}}</string>
        <key>sourceSize</key>
        <string>{48,264}</string>
      </dict>
      <key>Other_obj1121_000282.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,795},{48,203}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,203}}</string>
        <key>sourceSize</key>
        <string>{48,203}</string>
      </dict>
      <key>Other_obj1121_000283.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,185},{48,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,131}}</string>
        <key>sourceSize</key>
        <string>{48,131}</string>
      </dict>
      <key>Other_obj1121_000284.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,106}}</string>
        <key>sourceSize</key>
        <string>{48,106}</string>
      </dict>
      <key>Other_obj1121_000285.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,104}}</string>
        <key>sourceSize</key>
        <string>{48,104}</string>
      </dict>
      <key>Other_obj1121_000286.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,110}}</string>
        <key>sourceSize</key>
        <string>{48,110}</string>
      </dict>
      <key>Other_obj1121_000287.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,259}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,259}}</string>
        <key>sourceSize</key>
        <string>{48,259}</string>
      </dict>
      <key>Other_obj1121_000288.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,840},{48,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,181}}</string>
        <key>sourceSize</key>
        <string>{48,181}</string>
      </dict>
      <key>Other_obj1121_000289.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,476},{48,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,181}}</string>
        <key>sourceSize</key>
        <string>{48,181}</string>
      </dict>
      <key>Other_obj1121_000290.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,659},{48,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,149}}</string>
        <key>sourceSize</key>
        <string>{48,149}</string>
      </dict>
      <key>Other_obj1121_000291.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,797},{48,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,197}}</string>
        <key>sourceSize</key>
        <string>{48,197}</string>
      </dict>
      <key>Other_obj1121_000292.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,849},{48,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,167}}</string>
        <key>sourceSize</key>
        <string>{48,167}</string>
      </dict>
      <key>Other_obj1121_000293.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,538},{48,255}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,255}}</string>
        <key>sourceSize</key>
        <string>{48,255}</string>
      </dict>
      <key>Other_obj1121_000294.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,763},{48,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,241}}</string>
        <key>sourceSize</key>
        <string>{48,241}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj121_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj121_1.png</string>
    </dict>
  </dict>
</plist>