<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_tiles2111_003300.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003301.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003302.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003303.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003304.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003305.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003306.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003307.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003308.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003309.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003310.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003311.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003312.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003313.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003314.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003315.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003316.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003317.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003318.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003319.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003320.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003321.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003322.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003323.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003324.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003325.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003326.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003327.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003328.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003329.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003330.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003331.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003332.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003333.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003334.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003335.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003336.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003337.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003338.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003339.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003340.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003341.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003342.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003343.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003344.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003345.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003346.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003347.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003348.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003349.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003350.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003351.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003352.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003353.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003354.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003355.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,98},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003356.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003357.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003358.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003359.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,66},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003360.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003361.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003362.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003363.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003364.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003365.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003366.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003367.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003368.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003369.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003370.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003371.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003372.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003373.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003374.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003375.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003376.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003377.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003378.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003379.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003380.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003381.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003382.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003383.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003384.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,196},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003385.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003386.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,294},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003387.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003388.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,392},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003389.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003390.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,490},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003391.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003392.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,588},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003393.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003394.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,686},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003395.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003396.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,784},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003397.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003398.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,882},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>Other_tiles2111_003399.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,0},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tiles111_33.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>tiles111_33.png</string>
    </dict>
  </dict>
</plist>