<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_obj1115_000157.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1652},{48,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,348}}</string>
        <key>sourceSize</key>
        <string>{48,348}</string>
      </dict>
      <key>Other_obj1115_000158.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1921},{48,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,107}}</string>
        <key>sourceSize</key>
        <string>{48,107}</string>
      </dict>
      <key>Other_obj1115_000159.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,612},{48,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,174}}</string>
        <key>sourceSize</key>
        <string>{48,174}</string>
      </dict>
      <key>Other_obj1115_000160.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,526},{48,406}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,406}}</string>
        <key>sourceSize</key>
        <string>{48,406}</string>
      </dict>
      <key>Other_obj1115_000161.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,788},{48,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,126}}</string>
        <key>sourceSize</key>
        <string>{48,126}</string>
      </dict>
      <key>Other_obj1115_000162.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,564},{48,314}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,314}}</string>
        <key>sourceSize</key>
        <string>{48,314}</string>
      </dict>
      <key>Other_obj1115_000163.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,479},{48,415}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,415}}</string>
        <key>sourceSize</key>
        <string>{48,415}</string>
      </dict>
      <key>Other_obj1115_000164.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1312},{48,286}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,286}}</string>
        <key>sourceSize</key>
        <string>{48,286}</string>
      </dict>
      <key>Other_obj1115_000165.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1280},{48,370}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,370}}</string>
        <key>sourceSize</key>
        <string>{48,370}</string>
      </dict>
      <key>Other_obj1115_000166.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,936},{48,336}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,336}}</string>
        <key>sourceSize</key>
        <string>{48,336}</string>
      </dict>
      <key>Other_obj1115_000167.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1648},{48,349}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,349}}</string>
        <key>sourceSize</key>
        <string>{48,349}</string>
      </dict>
      <key>Other_obj1115_000168.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,616},{48,335}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,335}}</string>
        <key>sourceSize</key>
        <string>{48,335}</string>
      </dict>
      <key>Other_obj1115_000169.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,932},{48,321}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,321}}</string>
        <key>sourceSize</key>
        <string>{48,321}</string>
      </dict>
      <key>Other_obj1115_000170.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,0},{48,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,152}}</string>
        <key>sourceSize</key>
        <string>{48,152}</string>
      </dict>
      <key>Other_obj1115_000171.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1499},{48,298}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,298}}</string>
        <key>sourceSize</key>
        <string>{48,298}</string>
      </dict>
      <key>Other_obj1115_000172.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,554},{48,315}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,315}}</string>
        <key>sourceSize</key>
        <string>{48,315}</string>
      </dict>
      <key>Other_obj1115_000173.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1813},{48,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,207}}</string>
        <key>sourceSize</key>
        <string>{48,207}</string>
      </dict>
      <key>Other_obj1115_000174.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1600},{48,284}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,284}}</string>
        <key>sourceSize</key>
        <string>{48,284}</string>
      </dict>
      <key>Other_obj1115_000175.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1704},{48,226}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,226}}</string>
        <key>sourceSize</key>
        <string>{48,226}</string>
      </dict>
      <key>Other_obj1115_000176.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,607},{48,279}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,279}}</string>
        <key>sourceSize</key>
        <string>{48,279}</string>
      </dict>
      <key>Other_obj1115_000177.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,592},{48,313}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,313}}</string>
        <key>sourceSize</key>
        <string>{48,313}</string>
      </dict>
      <key>Other_obj1115_000178.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,882},{48,325}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,325}}</string>
        <key>sourceSize</key>
        <string>{48,325}</string>
      </dict>
      <key>Other_obj1115_000179.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,461}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,461}}</string>
        <key>sourceSize</key>
        <string>{48,461}</string>
      </dict>
      <key>Other_obj1115_000180.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,785},{48,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,135}}</string>
        <key>sourceSize</key>
        <string>{48,135}</string>
      </dict>
      <key>Other_obj1115_000181.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,953},{48,335}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,335}}</string>
        <key>sourceSize</key>
        <string>{48,335}</string>
      </dict>
      <key>Other_obj1115_000182.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,524}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,524}}</string>
        <key>sourceSize</key>
        <string>{48,524}</string>
      </dict>
      <key>Other_obj1115_000183.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1937},{48,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,103}}</string>
        <key>sourceSize</key>
        <string>{48,103}</string>
      </dict>
      <key>Other_obj1115_000184.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,463},{48,419}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,419}}</string>
        <key>sourceSize</key>
        <string>{48,419}</string>
      </dict>
      <key>Other_obj1115_000185.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,461}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,461}}</string>
        <key>sourceSize</key>
        <string>{48,461}</string>
      </dict>
      <key>Other_obj1115_000186.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1636},{48,351}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,351}}</string>
        <key>sourceSize</key>
        <string>{48,351}</string>
      </dict>
      <key>Other_obj1115_000187.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,477}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,477}}</string>
        <key>sourceSize</key>
        <string>{48,477}</string>
      </dict>
      <key>Other_obj1115_000188.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1194},{48,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,303}}</string>
        <key>sourceSize</key>
        <string>{48,303}</string>
      </dict>
      <key>Other_obj1115_000189.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,533}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,533}}</string>
        <key>sourceSize</key>
        <string>{48,533}</string>
      </dict>
      <key>Other_obj1115_000190.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1658},{48,343}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,343}}</string>
        <key>sourceSize</key>
        <string>{48,343}</string>
      </dict>
      <key>Other_obj1115_000191.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,610}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,610}}</string>
        <key>sourceSize</key>
        <string>{48,610}</string>
      </dict>
      <key>Other_obj1115_000192.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{48,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,169}}</string>
        <key>sourceSize</key>
        <string>{48,169}</string>
      </dict>
      <key>Other_obj1115_000193.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,612},{48,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,171}}</string>
        <key>sourceSize</key>
        <string>{48,171}</string>
      </dict>
      <key>Other_obj1115_000194.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,610}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,610}}</string>
        <key>sourceSize</key>
        <string>{48,610}</string>
      </dict>
      <key>Other_obj1115_000195.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1842},{48,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,179}}</string>
        <key>sourceSize</key>
        <string>{48,179}</string>
      </dict>
      <key>Other_obj1115_000196.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1451},{48,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,247}}</string>
        <key>sourceSize</key>
        <string>{48,247}</string>
      </dict>
      <key>Other_obj1115_000197.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,597}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,597}}</string>
        <key>sourceSize</key>
        <string>{48,597}</string>
      </dict>
      <key>Other_obj1115_000198.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1700},{48,227}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,227}}</string>
        <key>sourceSize</key>
        <string>{48,227}</string>
      </dict>
      <key>Other_obj1115_000199.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,597}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,597}}</string>
        <key>sourceSize</key>
        <string>{48,597}</string>
      </dict>
      <key>Other_obj1115_000200.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1743},{48,225}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,225}}</string>
        <key>sourceSize</key>
        <string>{48,225}</string>
      </dict>
      <key>Other_obj1115_000201.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,605}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,605}}</string>
        <key>sourceSize</key>
        <string>{48,605}</string>
      </dict>
      <key>Other_obj1115_000202.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1711},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1115_000203.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,609}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,609}}</string>
        <key>sourceSize</key>
        <string>{48,609}</string>
      </dict>
      <key>Other_obj1115_000204.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1169},{48,262}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,262}}</string>
        <key>sourceSize</key>
        <string>{48,262}</string>
      </dict>
      <key>Other_obj1115_000205.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,572}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,572}}</string>
        <key>sourceSize</key>
        <string>{48,572}</string>
      </dict>
      <key>Other_obj1115_000206.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1684},{48,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,232}}</string>
        <key>sourceSize</key>
        <string>{48,232}</string>
      </dict>
      <key>Other_obj1115_000207.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,547}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,547}}</string>
        <key>sourceSize</key>
        <string>{48,547}</string>
      </dict>
      <key>Other_obj1115_000208.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,888},{48,277}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,277}}</string>
        <key>sourceSize</key>
        <string>{48,277}</string>
      </dict>
      <key>Other_obj1115_000209.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1258},{48,293}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,293}}</string>
        <key>sourceSize</key>
        <string>{48,293}</string>
      </dict>
      <key>Other_obj1115_000210.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1443},{48,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,237}}</string>
        <key>sourceSize</key>
        <string>{48,237}</string>
      </dict>
      <key>Other_obj1115_000211.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,0},{48,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,156}}</string>
        <key>sourceSize</key>
        <string>{48,156}</string>
      </dict>
      <key>Other_obj1115_000212.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1682},{48,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,237}}</string>
        <key>sourceSize</key>
        <string>{48,237}</string>
      </dict>
      <key>Other_obj1115_000213.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1812},{48,219}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,219}}</string>
        <key>sourceSize</key>
        <string>{48,219}</string>
      </dict>
      <key>Other_obj1115_000214.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1658},{48,284}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,284}}</string>
        <key>sourceSize</key>
        <string>{48,284}</string>
      </dict>
      <key>Other_obj1115_000215.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1496},{48,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,303}}</string>
        <key>sourceSize</key>
        <string>{48,303}</string>
      </dict>
      <key>Other_obj1115_000216.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,880},{48,308}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,308}}</string>
        <key>sourceSize</key>
        <string>{48,308}</string>
      </dict>
      <key>Other_obj1115_000217.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1209},{48,302}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,302}}</string>
        <key>sourceSize</key>
        <string>{48,302}</string>
      </dict>
      <key>Other_obj1115_000218.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1255},{48,298}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,298}}</string>
        <key>sourceSize</key>
        <string>{48,298}</string>
      </dict>
      <key>Other_obj1115_000219.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1513},{48,298}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,298}}</string>
        <key>sourceSize</key>
        <string>{48,298}</string>
      </dict>
      <key>Other_obj1115_000220.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1499},{48,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,242}}</string>
        <key>sourceSize</key>
        <string>{48,242}</string>
      </dict>
      <key>Other_obj1115_000221.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1272},{48,374}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,374}}</string>
        <key>sourceSize</key>
        <string>{48,374}</string>
      </dict>
      <key>Other_obj1115_000222.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,599},{48,284}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,284}}</string>
        <key>sourceSize</key>
        <string>{48,284}</string>
      </dict>
      <key>Other_obj1115_000223.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1553},{48,286}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,286}}</string>
        <key>sourceSize</key>
        <string>{48,286}</string>
      </dict>
      <key>Other_obj1115_000224.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,533},{48,401}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,401}}</string>
        <key>sourceSize</key>
        <string>{48,401}</string>
      </dict>
      <key>Other_obj1115_000225.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1189},{48,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,260}}</string>
        <key>sourceSize</key>
        <string>{48,260}</string>
      </dict>
      <key>Other_obj1115_000226.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1916},{48,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,115}}</string>
        <key>sourceSize</key>
        <string>{48,115}</string>
      </dict>
      <key>Other_obj1115_000227.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,936},{48,334}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,334}}</string>
        <key>sourceSize</key>
        <string>{48,334}</string>
      </dict>
      <key>Other_obj1115_000228.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,486}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,486}}</string>
        <key>sourceSize</key>
        <string>{48,486}</string>
      </dict>
      <key>Other_obj1115_000229.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1167},{48,274}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,274}}</string>
        <key>sourceSize</key>
        <string>{48,274}</string>
      </dict>
      <key>Other_obj1115_000230.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,562}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,562}}</string>
        <key>sourceSize</key>
        <string>{48,562}</string>
      </dict>
      <key>Other_obj1115_000231.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,531}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,531}}</string>
        <key>sourceSize</key>
        <string>{48,531}</string>
      </dict>
      <key>Other_obj1115_000232.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,891},{48,276}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,276}}</string>
        <key>sourceSize</key>
        <string>{48,276}</string>
      </dict>
      <key>Other_obj1115_000233.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,590}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,590}}</string>
        <key>sourceSize</key>
        <string>{48,590}</string>
      </dict>
      <key>Other_obj1115_000234.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,547}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,547}}</string>
        <key>sourceSize</key>
        <string>{48,547}</string>
      </dict>
      <key>Other_obj1115_000235.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1200},{48,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,254}}</string>
        <key>sourceSize</key>
        <string>{48,254}</string>
      </dict>
      <key>Other_obj1115_000236.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,463},{48,433}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,433}}</string>
        <key>sourceSize</key>
        <string>{48,433}</string>
      </dict>
      <key>Other_obj1115_000237.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,552}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,552}}</string>
        <key>sourceSize</key>
        <string>{48,552}</string>
      </dict>
      <key>Other_obj1115_000238.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1433},{48,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,252}}</string>
        <key>sourceSize</key>
        <string>{48,252}</string>
      </dict>
      <key>Other_obj1115_000239.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1312},{48,340}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,340}}</string>
        <key>sourceSize</key>
        <string>{48,340}</string>
      </dict>
      <key>Other_obj1115_000240.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,614}}</string>
        <key>sourceSize</key>
        <string>{48,614}</string>
      </dict>
      <key>Other_obj1115_000241.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1799},{48,209}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,209}}</string>
        <key>sourceSize</key>
        <string>{48,209}</string>
      </dict>
      <key>Other_obj1115_000242.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,871},{48,313}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,313}}</string>
        <key>sourceSize</key>
        <string>{48,313}</string>
      </dict>
      <key>Other_obj1115_000243.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,535},{48,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,395}}</string>
        <key>sourceSize</key>
        <string>{48,395}</string>
      </dict>
      <key>Other_obj1115_000244.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1920},{48,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,68}}</string>
        <key>sourceSize</key>
        <string>{48,68}</string>
      </dict>
      <key>Other_obj1115_000245.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,0},{48,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,167}}</string>
        <key>sourceSize</key>
        <string>{48,167}</string>
      </dict>
      <key>Other_obj1115_000246.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1918},{48,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,115}}</string>
        <key>sourceSize</key>
        <string>{48,115}</string>
      </dict>
      <key>Other_obj1115_000247.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1441},{48,268}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,268}}</string>
        <key>sourceSize</key>
        <string>{48,268}</string>
      </dict>
      <key>Other_obj1115_000248.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1841},{48,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,181}}</string>
        <key>sourceSize</key>
        <string>{48,181}</string>
      </dict>
      <key>Other_obj1115_000249.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1272},{48,269}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,269}}</string>
        <key>sourceSize</key>
        <string>{48,269}</string>
      </dict>
      <key>Other_obj1115_000250.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1801},{48,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,188}}</string>
        <key>sourceSize</key>
        <string>{48,188}</string>
      </dict>
      <key>Other_obj1115_000251.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,885},{48,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,278}}</string>
        <key>sourceSize</key>
        <string>{48,278}</string>
      </dict>
      <key>Other_obj1115_000252.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,890},{48,308}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,308}}</string>
        <key>sourceSize</key>
        <string>{48,308}</string>
      </dict>
      <key>Other_obj1115_000253.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1456},{48,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,246}}</string>
        <key>sourceSize</key>
        <string>{48,246}</string>
      </dict>
      <key>Other_obj1115_000254.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,611},{48,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,278}}</string>
        <key>sourceSize</key>
        <string>{48,278}</string>
      </dict>
      <key>Other_obj1115_000255.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1687},{48,231}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,231}}</string>
        <key>sourceSize</key>
        <string>{48,231}</string>
      </dict>
      <key>Other_obj1115_000256.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,907},{48,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,280}}</string>
        <key>sourceSize</key>
        <string>{48,280}</string>
      </dict>
      <key>Other_obj1115_000257.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1442},{48,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,240}}</string>
        <key>sourceSize</key>
        <string>{48,240}</string>
      </dict>
      <key>Other_obj1115_000258.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,885},{48,282}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,282}}</string>
        <key>sourceSize</key>
        <string>{48,282}</string>
      </dict>
      <key>Other_obj1115_000259.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,549},{48,331}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,331}}</string>
        <key>sourceSize</key>
        <string>{48,331}</string>
      </dict>
      <key>Other_obj1115_000260.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,599},{48,284}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,284}}</string>
        <key>sourceSize</key>
        <string>{48,284}</string>
      </dict>
      <key>Other_obj1115_000261.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1169},{48,270}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,270}}</string>
        <key>sourceSize</key>
        <string>{48,270}</string>
      </dict>
      <key>Other_obj1115_000262.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1555},{48,285}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,285}}</string>
        <key>sourceSize</key>
        <string>{48,285}</string>
      </dict>
      <key>Other_obj1115_000263.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,936},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1115_000264.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1886},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1115_000265.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1275},{48,359}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,359}}</string>
        <key>sourceSize</key>
        <string>{48,359}</string>
      </dict>
      <key>Other_obj1115_000266.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,884},{48,308}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,308}}</string>
        <key>sourceSize</key>
        <string>{48,308}</string>
      </dict>
      <key>Other_obj1115_000267.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,549},{48,333}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,333}}</string>
        <key>sourceSize</key>
        <string>{48,333}</string>
      </dict>
      <key>Other_obj1115_000268.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,574},{48,314}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,314}}</string>
        <key>sourceSize</key>
        <string>{48,314}</string>
      </dict>
      <key>Other_obj1115_000269.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1186},{48,308}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,308}}</string>
        <key>sourceSize</key>
        <string>{48,308}</string>
      </dict>
      <key>Other_obj1115_000270.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,904},{48,381}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,381}}</string>
        <key>sourceSize</key>
        <string>{48,381}</string>
      </dict>
      <key>Other_obj1115_000271.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,896},{48,382}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,382}}</string>
        <key>sourceSize</key>
        <string>{48,382}</string>
      </dict>
      <key>Other_obj1115_000272.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,884},{48,386}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,386}}</string>
        <key>sourceSize</key>
        <string>{48,386}</string>
      </dict>
      <key>Other_obj1115_000273.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,934},{48,376}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,376}}</string>
        <key>sourceSize</key>
        <string>{48,376}</string>
      </dict>
      <key>Other_obj1115_000274.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1190},{48,307}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,307}}</string>
        <key>sourceSize</key>
        <string>{48,307}</string>
      </dict>
      <key>Other_obj1115_000275.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1165},{48,275}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,275}}</string>
        <key>sourceSize</key>
        <string>{48,275}</string>
      </dict>
      <key>Other_obj1115_000276.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1651},{48,263}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,263}}</string>
        <key>sourceSize</key>
        <string>{48,263}</string>
      </dict>
      <key>Other_obj1115_000277.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1543},{48,267}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,267}}</string>
        <key>sourceSize</key>
        <string>{48,267}</string>
      </dict>
      <key>Other_obj1115_000278.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,898},{48,375}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,375}}</string>
        <key>sourceSize</key>
        <string>{48,375}</string>
      </dict>
      <key>Other_obj1115_000279.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1287},{48,369}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,369}}</string>
        <key>sourceSize</key>
        <string>{48,369}</string>
      </dict>
      <key>Other_obj1115_000280.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1312},{48,337}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,337}}</string>
        <key>sourceSize</key>
        <string>{48,337}</string>
      </dict>
      <key>Other_obj1115_000281.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,488},{48,414}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,414}}</string>
        <key>sourceSize</key>
        <string>{48,414}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj115_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>obj115_1.png</string>
    </dict>
  </dict>
</plist>