<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_obj1123_000000.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,486},{48,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,65}}</string>
        <key>sourceSize</key>
        <string>{48,65}</string>
      </dict>
      <key>Other_obj1123_000001.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,135},{48,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,127}}</string>
        <key>sourceSize</key>
        <string>{48,127}</string>
      </dict>
      <key>Other_obj1123_000002.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,709},{48,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,152}}</string>
        <key>sourceSize</key>
        <string>{48,152}</string>
      </dict>
      <key>Other_obj1123_000003.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,545},{48,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,163}}</string>
        <key>sourceSize</key>
        <string>{48,163}</string>
      </dict>
      <key>Other_obj1123_000004.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,145}}</string>
        <key>sourceSize</key>
        <string>{48,145}</string>
      </dict>
      <key>Other_obj1123_000005.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,134}}</string>
        <key>sourceSize</key>
        <string>{48,134}</string>
      </dict>
      <key>Other_obj1123_000006.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,863},{48,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,152}}</string>
        <key>sourceSize</key>
        <string>{48,152}</string>
      </dict>
      <key>Other_obj1123_000007.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,133}}</string>
        <key>sourceSize</key>
        <string>{48,133}</string>
      </dict>
      <key>Other_obj1123_000008.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,266},{48,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,104}}</string>
        <key>sourceSize</key>
        <string>{48,104}</string>
      </dict>
      <key>Other_obj1123_000009.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,152},{48,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,141}}</string>
        <key>sourceSize</key>
        <string>{48,141}</string>
      </dict>
      <key>Other_obj1123_000010.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,728},{48,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,195}}</string>
        <key>sourceSize</key>
        <string>{48,195}</string>
      </dict>
      <key>Other_obj1123_000011.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,538},{48,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,244}}</string>
        <key>sourceSize</key>
        <string>{48,244}</string>
      </dict>
      <key>Other_obj1123_000012.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,614},{48,301}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,301}}</string>
        <key>sourceSize</key>
        <string>{48,301}</string>
      </dict>
      <key>Other_obj1123_000013.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,327},{48,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,150}}</string>
        <key>sourceSize</key>
        <string>{48,150}</string>
      </dict>
      <key>Other_obj1123_000014.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,152},{48,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,143}}</string>
        <key>sourceSize</key>
        <string>{48,143}</string>
      </dict>
      <key>Other_obj1123_000015.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,297},{48,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,99}}</string>
        <key>sourceSize</key>
        <string>{48,99}</string>
      </dict>
      <key>Other_obj1123_000016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,612}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,612}}</string>
        <key>sourceSize</key>
        <string>{48,612}</string>
      </dict>
      <key>Other_obj1123_000017.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,609}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,609}}</string>
        <key>sourceSize</key>
        <string>{48,609}</string>
      </dict>
      <key>Other_obj1123_000018.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,863},{48,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
      <key>Other_obj1123_000019.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,480},{48,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,29}}</string>
        <key>sourceSize</key>
        <string>{48,29}</string>
      </dict>
      <key>Other_obj1123_000020.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,488},{48,445}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,445}}</string>
        <key>sourceSize</key>
        <string>{48,445}</string>
      </dict>
      <key>Other_obj1123_000021.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,486}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,486}}</string>
        <key>sourceSize</key>
        <string>{48,486}</string>
      </dict>
      <key>Other_obj1123_000022.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,784},{48,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,228}}</string>
        <key>sourceSize</key>
        <string>{48,228}</string>
      </dict>
      <key>Other_obj1123_000023.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,553},{48,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,56}}</string>
        <key>sourceSize</key>
        <string>{48,56}</string>
      </dict>
      <key>Other_obj1123_000024.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,147},{48,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,145}}</string>
        <key>sourceSize</key>
        <string>{48,145}</string>
      </dict>
      <key>Other_obj1123_000025.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,241}}</string>
        <key>sourceSize</key>
        <string>{48,241}</string>
      </dict>
      <key>Other_obj1123_000026.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,502},{48,225}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,225}}</string>
        <key>sourceSize</key>
        <string>{48,225}</string>
      </dict>
      <key>Other_obj1123_000027.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,257},{48,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,243}}</string>
        <key>sourceSize</key>
        <string>{48,243}</string>
      </dict>
      <key>Other_obj1123_000028.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,614},{48,308}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,308}}</string>
        <key>sourceSize</key>
        <string>{48,308}</string>
      </dict>
      <key>Other_obj1123_000029.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,308}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,308}}</string>
        <key>sourceSize</key>
        <string>{48,308}</string>
      </dict>
      <key>Other_obj1123_000030.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,174},{48,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
      <key>Other_obj1123_000031.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,327},{48,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
      <key>Other_obj1123_000032.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,545},{48,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,162}}</string>
        <key>sourceSize</key>
        <string>{48,162}</string>
      </dict>
      <key>Other_obj1123_000033.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,229},{48,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,204}}</string>
        <key>sourceSize</key>
        <string>{48,204}</string>
      </dict>
      <key>Other_obj1123_000034.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,198}}</string>
        <key>sourceSize</key>
        <string>{48,198}</string>
      </dict>
      <key>Other_obj1123_000035.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,785},{48,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,232}}</string>
        <key>sourceSize</key>
        <string>{48,232}</string>
      </dict>
      <key>Other_obj1123_000036.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,486},{48,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,65}}</string>
        <key>sourceSize</key>
        <string>{48,65}</string>
      </dict>
      <key>Other_obj1123_000037.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,130}}</string>
        <key>sourceSize</key>
        <string>{48,130}</string>
      </dict>
      <key>Other_obj1123_000038.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,310},{48,302}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,302}}</string>
        <key>sourceSize</key>
        <string>{48,302}</string>
      </dict>
      <key>Other_obj1123_000039.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,611},{48,344}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,344}}</string>
        <key>sourceSize</key>
        <string>{48,344}</string>
      </dict>
      <key>Other_obj1123_000040.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,441}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,441}}</string>
        <key>sourceSize</key>
        <string>{48,441}</string>
      </dict>
      <key>Other_obj1123_000041.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,488},{48,442}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,442}}</string>
        <key>sourceSize</key>
        <string>{48,442}</string>
      </dict>
      <key>Other_obj1123_000042.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,135},{48,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,129}}</string>
        <key>sourceSize</key>
        <string>{48,129}</string>
      </dict>
      <key>Other_obj1123_000043.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,435},{48,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,188}}</string>
        <key>sourceSize</key>
        <string>{48,188}</string>
      </dict>
      <key>Other_obj1123_000044.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,797},{48,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,165}}</string>
        <key>sourceSize</key>
        <string>{48,165}</string>
      </dict>
      <key>Other_obj1123_000045.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,964},{48,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,39}}</string>
        <key>sourceSize</key>
        <string>{48,39}</string>
      </dict>
      <key>Other_obj1123_000046.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,397},{48,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,88}}</string>
        <key>sourceSize</key>
        <string>{48,88}</string>
      </dict>
      <key>Other_obj1123_000047.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,132},{48,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,130}}</string>
        <key>sourceSize</key>
        <string>{48,130}</string>
      </dict>
      <key>Other_obj1123_000048.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,398},{48,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,86}}</string>
        <key>sourceSize</key>
        <string>{48,86}</string>
      </dict>
      <key>Other_obj1123_000049.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,200},{48,177}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,177}}</string>
        <key>sourceSize</key>
        <string>{48,177}</string>
      </dict>
      <key>Other_obj1123_000050.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,295},{48,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,100}}</string>
        <key>sourceSize</key>
        <string>{48,100}</string>
      </dict>
      <key>Other_obj1123_000051.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,172}}</string>
        <key>sourceSize</key>
        <string>{48,172}</string>
      </dict>
      <key>Other_obj1123_000052.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,229},{48,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,210}}</string>
        <key>sourceSize</key>
        <string>{48,210}</string>
      </dict>
      <key>Other_obj1123_000053.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,372},{48,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,93}}</string>
        <key>sourceSize</key>
        <string>{48,93}</string>
      </dict>
      <key>Other_obj1123_000054.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,275}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,275}}</string>
        <key>sourceSize</key>
        <string>{48,275}</string>
      </dict>
      <key>Other_obj1123_000055.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,277},{48,271}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,271}}</string>
        <key>sourceSize</key>
        <string>{48,271}</string>
      </dict>
      <key>Other_obj1123_000056.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,257},{48,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,244}}</string>
        <key>sourceSize</key>
        <string>{48,244}</string>
      </dict>
      <key>Other_obj1123_000057.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,227}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,227}}</string>
        <key>sourceSize</key>
        <string>{48,227}</string>
      </dict>
      <key>Other_obj1123_000058.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,435},{48,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,191}}</string>
        <key>sourceSize</key>
        <string>{48,191}</string>
      </dict>
      <key>Other_obj1123_000059.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,625},{48,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,170}}</string>
        <key>sourceSize</key>
        <string>{48,170}</string>
      </dict>
      <key>Other_obj1123_000060.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,150}}</string>
        <key>sourceSize</key>
        <string>{48,150}</string>
      </dict>
      <key>Other_obj1123_000061.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,264},{48,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,122}}</string>
        <key>sourceSize</key>
        <string>{48,122}</string>
      </dict>
      <key>Other_obj1123_000062.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,200},{48,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,180}}</string>
        <key>sourceSize</key>
        <string>{48,180}</string>
      </dict>
      <key>Other_obj1123_000063.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,538},{48,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,245}}</string>
        <key>sourceSize</key>
        <string>{48,245}</string>
      </dict>
      <key>Other_obj1123_000064.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,614},{48,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,278}}</string>
        <key>sourceSize</key>
        <string>{48,278}</string>
      </dict>
      <key>Other_obj1123_000065.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,379},{48,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,164}}</string>
        <key>sourceSize</key>
        <string>{48,164}</string>
      </dict>
      <key>Other_obj1123_000066.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,728},{48,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,194}}</string>
        <key>sourceSize</key>
        <string>{48,194}</string>
      </dict>
      <key>Other_obj1123_000067.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,797},{48,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,167}}</string>
        <key>sourceSize</key>
        <string>{48,167}</string>
      </dict>
      <key>Other_obj1123_000068.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,785},{48,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,235}}</string>
        <key>sourceSize</key>
        <string>{48,235}</string>
      </dict>
      <key>Other_obj1123_000069.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,277},{48,259}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,259}}</string>
        <key>sourceSize</key>
        <string>{48,259}</string>
      </dict>
      <key>Other_obj1123_000070.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1123_000071.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,204}}</string>
        <key>sourceSize</key>
        <string>{48,204}</string>
      </dict>
      <key>Other_obj1123_000072.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,133}}</string>
        <key>sourceSize</key>
        <string>{48,133}</string>
      </dict>
      <key>Other_obj1123_000073.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,176}}</string>
        <key>sourceSize</key>
        <string>{48,176}</string>
      </dict>
      <key>Other_obj1123_000074.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,255}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,255}}</string>
        <key>sourceSize</key>
        <string>{48,255}</string>
      </dict>
      <key>Other_obj1123_000075.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,502},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj123_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj123_0.png</string>
    </dict>
  </dict>
</plist>