<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_obj1112_000000.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,200},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1112_000001.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,964},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1112_000002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,250},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1112_000003.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,554},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1112_000004.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,350},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000005.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,350},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000006.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,250},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1112_000007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1550,200},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1112_000008.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,604},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1112_000009.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,654},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1112_000010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1696,1850},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000011.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,704},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1112_000012.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,754},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1112_000013.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,150},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000014.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,200},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1906,0},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000016.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,654},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1112_000017.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,586},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1112_000018.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,586},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1112_000019.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,586},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1112_000020.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,586},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1112_000021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1956,900},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1112_000022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1956,1318},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1112_000023.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,300},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1112_000024.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,300},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1112_000025.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000026.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,674},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000027.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1348},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000028.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1348},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000029.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000030.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,674},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000031.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,674},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000032.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000033.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000034.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1348},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000035.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1348},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000036.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,674},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000037.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,674},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000038.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000039.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000040.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1348},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1112_000041.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1320},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000042.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1834},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000043.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1320},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000044.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1320},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000045.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1320},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000046.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1320},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000047.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1320},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000048.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1320},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000049.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,1884},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000050.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,1934},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000051.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,1934},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000052.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1348},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000053.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1894},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000054.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1944},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000055.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1994},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000056.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,1994},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000057.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,674},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000058.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1220},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000059.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1270},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000060.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1320},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000061.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1320},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000062.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1320},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1112_000063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1342,1984},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000064.png</key>
      <dict>
        <key>frame</key>
        <string>{{1856,0},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000065.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,0},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000066.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,0},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000067.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,50},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000068.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,50},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000069.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,100},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000070.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,100},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000071.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,150},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000072.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,150},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1112_000073.png</key>
      <dict>
        <key>frame</key>
        <string>{{1956,0},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000074.png</key>
      <dict>
        <key>frame</key>
        <string>{{1956,450},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000075.png</key>
      <dict>
        <key>frame</key>
        <string>{{1906,450},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000076.png</key>
      <dict>
        <key>frame</key>
        <string>{{1856,514},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000077.png</key>
      <dict>
        <key>frame</key>
        <string>{{1906,900},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000078.png</key>
      <dict>
        <key>frame</key>
        <string>{{1856,964},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000079.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,1414},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000080.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,1414},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000081.png</key>
      <dict>
        <key>frame</key>
        <string>{{1064,1414},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000082.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,1414},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1112_000083.png</key>
      <dict>
        <key>frame</key>
        <string>{{1906,1350},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1112_000084.png</key>
      <dict>
        <key>frame</key>
        <string>{{1856,1414},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1112_000085.png</key>
      <dict>
        <key>frame</key>
        <string>{{1164,1800},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1112_000086.png</key>
      <dict>
        <key>frame</key>
        <string>{{1824,1900},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000087.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1318},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000088.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,250},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000089.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,250},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000090.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,944},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000091.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1138},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000092.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,1850},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1112_000093.png</key>
      <dict>
        <key>frame</key>
        <string>{{1550,1800},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1112_000094.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1112_000095.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,50},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1112_000096.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,100},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1112_000097.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,200},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1112_000098.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,944},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1112_000099.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,944},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj112_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>obj112_0.png</string>
    </dict>
  </dict>
</plist>