<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Other_obj1113_000378.png</key>
      <dict>
        <key>frame</key>
        <string>{{1350,0},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1113_000379.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,1126},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1113_000380.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1832},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1113_000381.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1254},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1113_000382.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,0},{48,608}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,608}}</string>
        <key>sourceSize</key>
        <string>{48,608}</string>
      </dict>
      <key>Other_obj1113_000383.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1446},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1113_000384.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,1254},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1113_000385.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,640}}</string>
        <key>sourceSize</key>
        <string>{48,640}</string>
      </dict>
      <key>Other_obj1113_000386.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1574},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1113_000387.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,0},{48,608}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,608}}</string>
        <key>sourceSize</key>
        <string>{48,608}</string>
      </dict>
      <key>Other_obj1113_000388.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,706},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>Other_obj1113_000389.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1113_000390.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1476},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1113_000391.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1113_000392.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1604},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1113_000393.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1476},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>Other_obj1113_000394.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,802},{48,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,768}}</string>
        <key>sourceSize</key>
        <string>{48,768}</string>
      </dict>
      <key>Other_obj1113_000395.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1188},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>Other_obj1113_000396.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,674},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1113_000397.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000398.png</key>
      <dict>
        <key>frame</key>
        <string>{{1300,1842},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1113_000399.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,640}}</string>
        <key>sourceSize</key>
        <string>{48,640}</string>
      </dict>
      <key>Other_obj1113_000400.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1060},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1113_000401.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000402.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1220},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1113_000403.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1113_000404.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1574},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1113_000405.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,802},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000406.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,1512},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1113_000407.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,736}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,736}}</string>
        <key>sourceSize</key>
        <string>{48,736}</string>
      </dict>
      <key>Other_obj1113_000408.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1572},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1113_000409.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000410.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1578},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1113_000411.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,738},{48,736}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,736}}</string>
        <key>sourceSize</key>
        <string>{48,736}</string>
      </dict>
      <key>Other_obj1113_000412.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1572},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1113_000413.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000414.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,610},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1113_000415.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{48,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,640}}</string>
        <key>sourceSize</key>
        <string>{48,640}</string>
      </dict>
      <key>Other_obj1113_000416.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1604},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1113_000417.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,802},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000418.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1512},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1113_000419.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1113_000420.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,642},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>Other_obj1113_000421.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,802},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000422.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,836},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1113_000423.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1113_000424.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1734},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1113_000425.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000426.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,998},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1113_000427.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>Other_obj1113_000428.png</key>
      <dict>
        <key>frame</key>
        <string>{{1300,66},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>Other_obj1113_000429.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1832},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1113_000430.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000431.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1060},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1113_000432.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,738},{48,736}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,736}}</string>
        <key>sourceSize</key>
        <string>{48,736}</string>
      </dict>
      <key>Other_obj1113_000433.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1734},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1113_000434.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,802},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000435.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,1770},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1113_000436.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1113_000437.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1414},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1113_000438.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,802},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000439.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,1578},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1113_000440.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1113_000441.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1704},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1113_000442.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,802},{48,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,768}}</string>
        <key>sourceSize</key>
        <string>{48,768}</string>
      </dict>
      <key>Other_obj1113_000443.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1322},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1113_000444.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1476},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1113_000445.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1452},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1113_000446.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1126},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1113_000447.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000448.png</key>
      <dict>
        <key>frame</key>
        <string>{{1300,100},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>Other_obj1113_000449.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,674},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1113_000450.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,100},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>Other_obj1113_000451.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1352},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1113_000452.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,768}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,768}}</string>
        <key>sourceSize</key>
        <string>{48,768}</string>
      </dict>
      <key>Other_obj1113_000453.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1604},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1113_000454.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1060},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1113_000455.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>Other_obj1113_000456.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1604},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1113_000457.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1604},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1113_000458.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>Other_obj1113_000459.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1060},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1113_000460.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,674},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1113_000461.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>Other_obj1113_000462.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1582},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1113_000463.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,1772},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1113_000464.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1670},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1113_000465.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,706},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1113_000466.png</key>
      <dict>
        <key>frame</key>
        <string>{{1300,1940},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1113_000467.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1772},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>Other_obj1113_000468.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1670},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1113_000469.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1604},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>Other_obj1113_000470.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,1582},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1113_000471.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,674},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1113_000472.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1704},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1113_000473.png</key>
      <dict>
        <key>frame</key>
        <string>{{1350,1940},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1113_000474.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1446},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1113_000475.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,1352},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>Other_obj1113_000476.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,642},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>Other_obj1113_000477.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,1712},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1113_000478.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,1160},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1113_000479.png</key>
      <dict>
        <key>frame</key>
        <string>{{1350,66},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>Other_obj1113_000480.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1770},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1113_000481.png</key>
      <dict>
        <key>frame</key>
        <string>{{1400,0},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>Other_obj1113_000482.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1446},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>Other_obj1113_000483.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,1842},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>Other_obj1113_000484.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1188},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>Other_obj1113_000485.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1160},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>Other_obj1113_000486.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,706},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1113_000487.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,610},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1113_000488.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1220},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1113_000489.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,868},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1113_000490.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1124},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>Other_obj1113_000491.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,964},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>Other_obj1113_000492.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1220},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1113_000493.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,868},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1113_000494.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,706},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>Other_obj1113_000495.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,610},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>Other_obj1113_000496.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,674},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj113_3.png</string>
      <key>size</key>
      <string>{1792,2048}</string>
      <key>textureFileName</key>
      <string>obj113_3.png</string>
    </dict>
  </dict>
</plist>